<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.fusheng.model.core.mapper.RoleMapper">


<insert id="saveRoleMenu">
    insert into sys_role_menu(role_id, menu_id) values (#{roleId},#{menuId})
</insert>

<delete id="deleteRoleMenuByRoleId">
    delete from sys_role_menu where role_id = #{roleId}
</delete>

<delete id="deleteUserRoleByRoleId">
    delete from sys_user_role where role_id = #{roleId}
</delete>

<delete id="deleteUserRoleByUserId">
    delete from sys_user_role where user_id = #{userId}
</delete>

<insert id="saveUserRole">
    insert into sys_user_role(user_id, role_id) values (#{userId}, #{roleId})
</insert>

<select id="getRoleIdsByUserId" resultType="java.lang.Long">
    select role_id from sys_user_role where user_id = #{userId}
</select>


</mapper>
